<div class="home">
  <a routerLink="/">Coralie Faure</a>
</div>

<div>
  <h2>Me Contacter</h2>
</div>

<div class="profil">
  <h4>Email</h4>
  <a href="mailto: corafaure42660@gmail.com">corafaure42660@gmail.com</a>
</div>

<div class="profil">
  <h4>Adresse</h4>
  <p>1 rue de l'église <br>
     42660 SAINT-GENEST-MALIFAUX</p>
</div>

<div class="profil">
  <h4>Téléphone</h4>
  <p>06-71-08-67-54</p>
</div>

<div class="profil">
  <h4>Linkedin</h4>
  <a href="https://www.linkedin.com/in/coralie-faure-b8b5aa1ab/">Coralie Faure</a>
</div>
