<div class="container">
  <h2>
    Mon profil
  </h2>
</div>

<div id="container">
    <div class="para">
      <p>
        Passionnée d'informatique depuis de nombreuses années, j'ai choisi de combiner
      ma passion avec mon métier en faisant une reconversion dans le développement.
        Ma nature curieuse me pousse à en savoir plus, et j'aime beaucoup apprendre
      et surtout comprendre.
      </p>
    </div>
    <div class="para2">
      <a routerLink="/contact"><img src="assets/images/para2.jpg"></a>
    </div>
</div>
