<div>
    <h1>
        Coralie FAURE
    </h1>
</div>

<div>
    <p class="titre">
      Développeuse web et web mobile
    </p>
</div>

<div class="category">

    <div class="card profil">
      <a href="#Profil">
      <p>
        Mon profil
      </p>
      </a>
    </div>

    <div class="card formation">
      <a href="#Formations">
      <p>
        Formations
      </p>
      </a>
    </div>

    <div class="card experience">
      <a href="#Experiences">
      <p>
        Expériences
      </p>
      </a>
    </div>

    <div class="card competence">
      <a href="#Competences">
        <p>
          Compétences
        </p>
      </a>
    </div>

    <div class="card realisation">
      <a href="#Realisations">
      <p>
        Réalisations
      </p>
      </a>
    </div>

    <div class="card contact">
      <a routerLink="/contact">
      <p>
        Contact
      </p>
      </a>
    </div>
</div>
